.slds-datepicker-form {
	position: relative;
}

.slds-datepicker {
	margin-top: 0;
}

.slds-datepicker .slds-datepicker__filter--month h2 {
	width: 120px;
	text-align: center;
	margin-top: 2px;
}

.slds-datepicker .slds-picklist .slds-button {
	width: 100px;
}

.slds-datepicker .slds-picklist .slds-dropdown {
	min-width: 100px;
	width: 100px;
}