.slds-pillbox .slds-pill-add-item {
	border: none;
	color:  rgb(84, 105, 141); /* $color-text-placeholder */
	margin-left: 0.25rem;
	margin-top: -4px;
}

.slds-pillbox .slds-pill-add-item:active {
	border: none;
	box-shadow: none;
	outline: none;
}

.slds-pillbox .slds-pill-add-item:focus {
	border: none;
	box-shadow: none;
	outline: none;
}

.slds-pillbox .slds-pill {
	float: left;
}

.slds-pillbox .slds-pill-input-wrap {
	float: left;
}