@import "../../shared/scss/index";
@import "dependencies/_config";
@import "dependencies/prism";
@import "dependencies/prism-overrides";
@import "pages/home";
@import "pages/component-examples";


.#{$app-prefix} {
	&masthead {
		background-color: #16324C;
	}

	&title {
		color: #fff;
		font-size: 2rem;
		font-weight: 300;
	}
}

// .#{$css-prefix}box {
// 	margin-bottom: 20px;
// }

// .#{$css-prefix}tooltip,
// .#{$css-prefix}popover {
// 	position: absolute;
// }



/* React demo page */

.demo-controls {
	display: none;
}

// React Demo Page
body.react .example-type.example-type--jquery {
	display: none;
}
// jQuery Demo Page
body.jquery .example-type.example-type--react {
	display: none;
}

.#{$app-prefix}hide {
	display: none;
}
