code[class*="language-"] {
    color: black;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    -moz-tab-size: 2;
    tab-size: 2;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    font-size: 0.7rem;
}

pre[class*="language-"] {
    color: black;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    -moz-tab-size: 2;
    tab-size: 2;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    position: relative;
    margin: .5em 0;
    box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf;
    border-left: 10px solid #358ccb;
    background-color: #fdfdfd;
    background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
    background-size: 3em 3em;
    background-origin: content-box;
    overflow: visible;
    max-height: 30em;
}

code[class*="language"] {
    max-height: inherit;
    height: 100%;
    padding: 0 1em;
    display: block;
    overflow: auto;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background-color: #fdfdfd;
    box-sizing: border-box;
    margin-bottom: 1em;
}

:not(pre) > code[class*="language-"] {
    position: relative;
    padding: .2em;
    border-radius: 0.3em;
    color: #c92c2c;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

pre[class*="language-"] {
    &:before, &:after {
        content: '';
        z-index: -2;
        display: block;
        position: absolute;
        bottom: 0.75em;
        left: 0.18em;
        width: 40%;
        height: 20%;
        box-shadow: 0px 13px 8px #979797;
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
}

:not(pre) > code[class*="language-"]:after, pre[class*="language-"]:after {
    right: 0.75em;
    left: auto;
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
}

.token {
    &.comment, &.block-comment, &.prolog, &.doctype, &.cdata {
        color: #7D8B99;
    }

    &.punctuation {
        color: #5F6364;
    }

    &.property, &.tag, &.boolean, &.number, &.function-name, &.constant, &.symbol, &.deleted {
        color: #c92c2c;
    }

    &.selector, &.attr-name, &.string, &.char, &.function, &.builtin, &.inserted {
        color: #2f9c0a;
    }

    &.operator, &.entity, &.url, &.variable {
        color: #a67f59;
        background: rgba(255, 255, 255, 0.5);
    }

    &.atrule, &.attr-value, &.keyword, &.class-name {
        color: #1990b8;
    }

    &.regex, &.important {
        color: #e90;
    }
}

.language-css .token.string, .style .token.string {
    color: #a67f59;
    background: rgba(255, 255, 255, 0.5);
}

.token {
    &.important {
        font-weight: normal;
    }

    &.bold {
        font-weight: bold;
    }

    &.italic {
        font-style: italic;
    }

    &.entity {
        cursor: help;
    }
}

.namespace {
    opacity: .7;
}

@media screen and (max-width: 767px) {
    pre[class*="language-"] {
        &:before, &:after {
            bottom: 14px;
            box-shadow: none;
        }
    }
}

.token {
    &.tab:not(:empty):before, &.cr:before, &.lf:before {
        color: #e0d7d1;
    }
}

pre {
    &[class*="language-"] {
        &.line-numbers {
            padding-left: 0;

            code {
                padding-left: 3.8em;
            }

            .line-numbers-rows {
                left: 0;
            }
        }

        &[data-line] {
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
        }
    }

    &[data-line] code {
        position: relative;
        padding-left: 4em;
    }

    .line-highlight {
        margin-top: 0;
    }

    &[data-line] {
        position: relative;
        padding: 1em 0 1em 3em;
    }
}

.line-highlight {
    position: absolute;
    left: 0;
    right: 0;
    padding: inherit 0;
    margin-top: 1em;
    background: rgba(153, 122, 102, 0.08);
    background: linear-gradient(to left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
    pointer-events: none;
    line-height: inherit;
    white-space: pre;

    &:before {
        content: attr(data-start);
        position: absolute;
        top: .4em;
        left: .6em;
        min-width: 1em;
        padding: 0 .5em;
        background-color: rgba(153, 122, 102, 0.4);
        color: #f5f2f0;
        font: bold 65%/1.5 sans-serif;
        text-align: center;
        vertical-align: .3em;
        border-radius: 999px;
        text-shadow: none;
        box-shadow: 0 1px white;
    }

    &[data-end]:after {
        content: attr(data-start);
        position: absolute;
        top: .4em;
        left: .6em;
        min-width: 1em;
        padding: 0 .5em;
        background-color: rgba(153, 122, 102, 0.4);
        color: #f5f2f0;
        font: bold 65%/1.5 sans-serif;
        text-align: center;
        vertical-align: .3em;
        border-radius: 999px;
        text-shadow: none;
        box-shadow: 0 1px white;
        content: attr(data-end);
        top: auto;
        bottom: .4em;
    }
}

pre.line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;

    > code {
        position: relative;
    }
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em;
    letter-spacing: -1px;
    border-right: 1px solid #999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;

    &:before {
        content: counter(linenumber);
        color: #999;
        display: block;
        padding-right: 0.8em;
        text-align: right;
    }
}

.token a {
    color: inherit;
}
