

code {
	white-space: nowrap;
	font-family: Consolas, Monaco, 'Andale Mono', monospace, monospace;
	color: black;
}

th code {
	font-weight: 400;
}

code[class*="language"] {
	// overflow: visible;
	// height: auto;
}

pre[class*="language-"] {
	margin: 1rem 0 0 0;
	border: 0;
	padding: 0 0 0 0.5rem;
	background: #f5f2f0;
	max-height: none;

	&:before, &:after {
		display: none;
	}

	code {
		padding: 0.5rem 0rem;
		opacity: 0;
		-webkit-transition: all 0.3s linear;

		font-family: Consolas, Monaco, 'Andale Mono', monospace;
		line-height: 1.5;
		-moz-tab-size: 2;
		tab-size: 2;
		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
		font-size: 0.7rem;

		&.rendered {
			opacity: 1;
			-webkit-transition: all 0.3s linear;
		}
	}
}

[data-key="design-tokens"] {
	color: purple;
}

span.token.comment {
  white-space: pre-line;
}

pre[class*=language-] code {
  white-space: pre-wrap;
}

