.site-masthead {
    background-color: #16324C;
}
.site-title {
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
}
.slds-box {
    margin-bottom: 20px;
}

.slds-tooltip, .slds-popover {
    position:absolute;
}