{
  "presets": [
    ["env", {
      "targets": {
        browsers: ['last 2 versions', 'ie 11'],
        node: '6.8'
      }
    }],
    "babel-preset-react"
  ],
  "env": {
    "amd": {
      "plugins": ["import-noop"]
    },
    "commonjs": {
      "plugins": ["import-noop"]
    },
    "test": {
      "plugins": ["istanbul"]
    }
  },
  "ignore": [
    "preset/**",
  ],
  plugins: [
    "root-import",
    "transform-object-rest-spread",
    "transform-class-properties",
    "syntax-export-extensions",
    "transform-export-extensions"
  ]
}