{
	"env": {
		"development": {
			"presets": [["env", {
				"targets": {
					"browsers": ["last 2 versions", "ie 11"],
					"node": "8.9.4"
				}
			}], "react"],
			"plugins": ["transform-object-rest-spread", "transform-class-properties", "transform-export-extensions"]
		},
		"amd": {
			"presets": [["env", {
				"targets": {
					"browsers": ["last 2 versions", "ie 11"],
					"node": "8.9.4"
				}
			}], "react"],
			"plugins": ["import-noop", "transform-object-rest-spread", "transform-class-properties", "transform-export-extensions"]
		},
		"commonjs": {
			"presets": [["env", {
				"targets": {
					"browsers": ["last 2 versions", "ie 11"],
					"node": "8.9.4"
				}
			}], "react"],
			"plugins": ["import-noop", "transform-object-rest-spread", "transform-class-properties", "transform-export-extensions"]
		},
		"esm": {
			"presets": [["env", {
				"targets": {
					"browsers": ["last 2 versions", "ie 11"],
					"node": "8.9.4"
				},
				"modules": false
			}], "react"],
			"plugins": ["transform-object-rest-spread", "transform-class-properties", "transform-export-extensions"]
		},
		"test": {
			"presets": [["env", {
				"targets": {
					"browsers": ["last 2 versions", "ie 11"]
				}
			}], "react"],
			"plugins": ["istanbul", "transform-object-rest-spread", "transform-class-properties", "transform-export-extensions"]
		}
	},
	"ignore": [
		"preset/**"
	],
	"plugins": [
		"root-import"
	]
}
