{
	"extends": "airbnb",
	"parser": "babel-eslint",
	"rules": {
	  "indent": [2, "tab", {"SwitchCase": 1}],
	  "space-before-function-paren": [2, "always"],
		"comma-dangle": [2, "never"],
		"no-trailing-spaces": [2, { "skipBlankLines": true }],
		"react/prop-types": 1,
		"no-param-reassign": 1,
		"vars-on-top": 1,
		"func-names" : 0,
		"no-console": 0,
		"react/jsx-boolean-value": 0
	}
}
