{
  "parser": "babel-eslint",
    "env": {
      "browser": true,
      "node": true,
      "es6": true
    },

    "plugins": ["react"],

    "ecmaFeatures": {
      "arrowFunctions": true,
      "binaryLiterals": true,
      "blockBindings": true,
      "classes": true,
      "defaultParams": true,
      "destructuring": true,
      "forOf": true,
      "generators": true,
      "modules": true,
      "objectLiteralComputedProperties": true,
      "objectLiteralDuplicateProperties": true,
      "objectLiteralShorthandMethods": true,
      "objectLiteralShorthandProperties": true,
      "octalLiterals": true,
      "regexUFlag": true,
      "regexYFlag": true,
      "spread": true,
      "superInFunctions": true,
      "templateStrings": true,
      "unicodeCodePointEscapes": true,
      "globalReturn": true,
      "jsx": true
    },

    "rules": {

      //
      // Errors
      //
      // These are rules you must adhere to (please)
      //
      "no-dupe-keys": 2, // disallow duplicate keys when creating object literals
      "no-dupe-args": 2, // disallow duplicate arguments in functions
      "no-extra-semi": 2, // disallow unnecessary semicolons
      "valid-typeof": 2, // Ensure that the results of typeof are compared against a valid string
      "no-native-reassign": 2, // disallow reassignments of native objects


      //
      // Warnings - Stylistic Issues
      //
      // These rules are for code consistency and following best practices
      //
      "default-case": 2, // require default case in switch statements (off by default)
      "dot-notation": 2, // encourages use of dot notation whenever possible
      "eqeqeq": 2, // require the use of === and !==
      "indent": [1, 2], // this option sets a specific tab width for your code (off by default)
      "brace-style": 1, // enforce one true brace style (off by default)
      "camelcase": 1, // require camel case names
      "comma-spacing": [1, {"before": false, "after": true}], // enforce spacing before and after comma
      "key-spacing": [1, {"beforeColon": false, "afterColon": true}], // enforces spacing between keys and values in object literal properties


      //
      // Strict Mode
      //
      // These rules relate to using strict mode.
      //
      "strict": 0, // controls location of Use Strict Directives. 0: required by `babel-eslint`



      //
      // Variables
      //
      // These rules have to do with variable declarations.
      //
      "no-redeclare": 2, // disallow declaring the same variable more then once
      "no-unused-vars": 2, // disallow declaration of variables that are not used in the code



      //
      // eslint-plugin-react
      //
      // React specific linting rules for ESLint
      //
      "react/display-name": 2, // Prevent missing displayName in a React component definition
      "react/jsx-no-undef": 2, // Disallow undeclared variables in JSX
      "react/no-multi-comp": 2, // Prevent multiple component definition per file
      "react/no-unknown-property": 2, // Prevent usage of unknown DOM property
      "react/prop-types": 2, // Prevent missing props validation in a React component definition
      "react/wrap-multilines": 2, // Prevent missing parentheses around multilines JSX
    }
}
