# filesystem
.DS_Store

# dependencies
node_modules
bower_components

test/tests-compiled.js
test/tests.js

# gh-pages
_site/*

# Editors / IDEs
.idea

# node_module cache for TravisCI, etc.
node_modules.tar.gz

npm-debug.log
.esformatter
