# filesystem
.DS_Store

# dependencies
node_modules
bower_components

test/tests-compiled.js
test/tests-api.js
test/tests.js
build/
public/docs/src/

# gh-pages
_site/*

# Editors / IDEs
.idea
*.sublime-project
*.sublime-workspace

# node_module cache for TravisCI, etc.
node_modules.tar.gz

npm-debug.log
.esformatter
.tmp/
.dist/
dist/
