language: node_js
node_js:
  - "4.2"
install:
  - npm install
script:
  - npm run compile
cache:
  directories:
    - node_modules
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
