.#{$css-prefix}dropdown-trigger--click {
    position: relative;

    .#{$css-prefix}dropdown {
        visibility: hidden;
        opacity: 0;
    }

    &.#{$css-prefix}is-open .#{$css-prefix}dropdown {
        display: block;

        /* <-- edit */
        visibility: visible;
        opacity: 1;
    }
}

.#{$css-prefix}dropdown-trigger > [class*="slds-button--icon"] ~ {
    .#{$css-prefix}dropdown--left[class*="slds-nubbin"] {
        left: -1rem;
    }

    .#{$css-prefix}dropdown--right[class*="slds-nubbin"] {
        right: -1rem;
    }
}