.#{$css-prefix}pillbox {
	.#{$css-prefix}pill-add-item {
		border: none;
		color: rgb(84, 105, 141);

		/* $color-text-placeholder */
		margin-left: 0.25rem;
		margin-top: 0;

		&:active, &:focus {
			border: none;
			box-shadow: none;
			outline: none;
		}
	}

	.#{$css-prefix}pill, .#{$css-prefix}pill-input-wrap {
		float: left;
	}
}