.section1 {
    background: url("/assets/demo-site/images/hero-bg.jpg") no-repeat scroll 0 0 / 100% 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.site-desc {
    text-align: center;
}

.outlined-icons {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    .square1 {
        bottom: 6%;
        left: 2.2%;
        transform: rotate(-43deg);
    }

    .slice1 {
        bottom: -4%;
        left: 13.3%;
        transform: rotate(11deg);
    }

    .triangle1 {
        bottom: -1%;
        left: 27.7%;
        transform: rotate(12deg);
    }

    .tube1 {
        bottom: 12%;
        left: 39.8%;
        transform: rotate(-12deg);
    }

    .square2 {
        bottom: 6.6%;
        left: 51.7%;
        transform: rotate(40deg);
    }

    .rectangle1 {
        bottom: 33%;
        left: 63.6%;
        transform: rotate(12deg);
    }

    .tube2 {
        bottom: 19.4%;
        left: 75.8%;
        transform: rotate(18deg);
    }

    .circle1 {
        bottom: 24%;
        left: 91.1%;
    }
}

.outlined-icon {
    height: 20%;
    position: absolute;
    width: 4.1%;
    fill: #fff;
}

.floating-icons {
    background: url("/assets/demo-site/images/rectangle.svg") no-repeat scroll 188px 228px / 76px auto, url("/assets/demo-site/images/diamond.svg") no-repeat scroll 134px 22px / 87px auto, url("/assets/demo-site/images/square.svg") no-repeat scroll -4px 207px / 180px auto, url("/assets/demo-site/images/triangle.svg") no-repeat scroll 28px 95px / 109px auto, rgba(0, 0, 0, 0) url("/assets/demo-site/images/circle.svg") no-repeat scroll 156px 120px / 93px auto;
    height: 100%;
    position: absolute;
    right: 18%;
    top: 0;
    width: 270px;
}

.herotext {
    padding: 50px 0 0 50px;
    color: #ffffff;
    font-family: 'SalesforceSans-Light';
    font-size: 64px;
    line-height: 70px;
}

.section3 h1 {
    font-family: 'SalesforceSans-Light';
    font-size: 24px;
    font-weight: normal;
    color: #01344E;
}