# Use the latest 2.1 version of CircleCI pipeline process engine. 
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

orbs:
  # The Node.js orb contains a set of prepackaged CircleCI configuration you can utilize
  # Orbs reduce the amount of configuration required for common tasks. 
  # See the orb documentation here: https://circleci.com/developer/orbs/orb/circleci/node
  node: circleci/node@4.1

executors:
  dsr-executor:
    docker:
      - image: cimg/node:12.20.2-browsers

commands:
  install:
    description: Set up project
    steps:
      - checkout
      - node/install-npm
      - node/install-packages

      - run:
          name: Install all packages
          command: 'npm install'

jobs:
  lint:
      executor: dsr-executor
      steps:
        - install
        - run:
            name: Run Lint Validations
            command: 'npm run lint'
  dom-snapshot:
      executor: dsr-executor
      steps:
        - install
        - run:
            name: Run DOM snapshot tests
            command: 'npm run test:dom-snapshot'
  docs:
      executor: dsr-executor
      steps:
        - install
        - run:
            name: Generate library docs
            command: 'npm run prepare-components && npm run test:docs'
  unit:
      executor: dsr-executor
      steps:
        - install
        - run:
            name: Run in-browser unit tests 
            command: 'CHROME_BIN=/usr/bin/google-chrome npm run test:unit'
  accessibility:
      executor: dsr-executor
      steps:
        - install
        - run:
            name: Run Static Accessibility Tests
            command: 'npm run test:accessibility'

workflows:
  # Below is the definition of your workflow.
  # Inside the workflow, you provide the jobs you want to run, e.g this workflow runs the build-and-test job above.
  # CircleCI will run this workflow on every commit.
  # For more details on extending your workflow, see the configuration docs: https://circleci.com/docs/2.0/configuration-reference/#workflows
  dsr_build_test: 
    jobs:
      - lint
      - dom-snapshot
      - docs
      - unit
      - accessibility