.slds-carousel__content {
	height: 100%;
}

.slds-carousel__button[disabled] {
	opacity: 0.5;
}

.slds-carousel__col-center {
	margin: 0 25px;
}

.slds-m-horizontal_xx-small {
	padding: 0 8px;
	margin: 0;
}

/* this is used for rendering Storybook Custom Example */
.slds-carousel-custom-rendering {
	padding: 0 8px;
	margin: 0;
	text-align: center;
}
