<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>jQuery Examples :: Facades :: Salesforce Lightning Design System</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/assets/demo-site/images/favicon.png" sizes="16x16" rel="icon" type="image/png">
	<!-- dependencies -->
	<link href="/assets/design-system/styles/salesforce-lightning-design-system.css" rel="stylesheet" type="text/css">
	<link href="/build/facades-demo-styles.css" rel="stylesheet" type="text/css">

</head>
<body class="jquery">
	<nav class="facades-demo-main-nav slds-page-header">
		<div class="slds-grid">
			<a href="/" class="slds-media slds-media--center">
				<div class="slds-media__figure">
					<img src="/assets/demo-site/images/salesforce-logo.svg" width="40">
				</div>
				<div class="slds-media__body">
					<h4 class="slds-text-heading--label">
						Design System Facades
					</h4>
				</div>
			</a>
		</div>
	</nav>
	<header class="facades-demo-masthead slds-page-header | slds-theme--alt-inverse">

		<div class="slds-grid">
			<div class="slds-col slds-align-middle" >
				<div class="slds-media slds-media--center" style="height:5rem;">
					<div class="slds-media__figure">
						<svg width="70" version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="-95 7 600 600" style="enable-background:new -95 7 600 600;" xml:space="preserve">
						<style type="text/css">
							.st0{fill:#0868AC;}
						</style>
						<g>
							<path class="st0" d="M-45.5,160.4c-50.8,73-44.5,168.1-5.7,245.7c0.9,1.9,1.9,3.7,2.8,5.5c0.6,1.2,1.2,2.4,1.8,3.5
								c0.4,0.7,0.8,1.4,1.1,2c0.7,1.2,1.3,2.4,2,3.6c1.2,2.1,2.4,4.2,3.7,6.4c0.7,1.2,1.4,2.3,2.1,3.5c1.4,2.3,2.8,4.5,4.3,6.7
								c0.6,1,1.2,1.9,1.8,2.8c2,3,4.1,6,6.2,9c0.1,0.1,0.1,0.2,0.2,0.2c0.3,0.5,0.7,0.9,1,1.4c1.8,2.5,3.8,5.1,5.7,7.5
								c0.7,0.9,1.4,1.8,2.1,2.7c1.7,2.2,3.5,4.3,5.2,6.4c0.7,0.8,1.3,1.6,2,2.4c2.4,2.8,4.8,5.6,7.3,8.4c0,0,0.1,0.1,0.1,0.1
								c0.1,0.1,0.2,0.2,0.3,0.3c2.4,2.6,4.9,5.2,7.4,7.8c0.8,0.8,1.6,1.6,2.4,2.4c2,2,3.9,3.9,5.9,5.8c0.8,0.8,1.6,1.6,2.4,2.3
								c2.7,2.5,5.4,5,8.1,7.4c0,0,0.1,0.1,0.1,0.1c0.5,0.4,1,0.8,1.4,1.2c2.4,2.1,4.9,4.2,7.4,6.2c1,0.8,2,1.6,3.1,2.4
								c2,1.6,4.1,3.2,6.2,4.8c1.1,0.8,2.2,1.7,3.3,2.5c2.3,1.7,4.6,3.3,6.9,5c0.8,0.6,1.7,1.2,2.5,1.8c0.2,0.2,0.5,0.3,0.7,0.5
								c2.2,1.5,4.5,3,6.7,4.4c1,0.6,1.9,1.3,2.9,1.9c3.5,2.2,7,4.3,10.5,6.4c1,0.6,1.9,1.1,2.9,1.6c2.6,1.5,5.2,3,7.9,4.4
								c1.4,0.8,2.9,1.5,4.4,2.2c1.9,1,3.7,2,5.6,2.9c0.4,0.2,0.9,0.4,1.3,0.6c0.8,0.4,1.5,0.7,2.3,1.1c3,1.4,5.9,2.8,8.9,4.1
								c0.6,0.3,1.3,0.6,1.9,0.8c3.4,1.5,6.9,2.9,10.4,4.3c0.8,0.3,1.7,0.7,2.5,1c3.2,1.3,6.5,2.5,9.8,3.6c0.4,0.1,0.8,0.3,1.2,0.4
								c3.6,1.3,7.3,2.4,11,3.6c0.9,0.3,1.8,0.5,2.6,0.8c3.8,1.1,7.5,2.5,11.3,3.2C406.8,621.5,478.1,429,478.1,429
								c-60,78.1-166.4,98.7-267.2,75.8c-3.8-0.9-7.5-2.1-11.3-3.2c-0.9-0.3-1.9-0.6-2.8-0.8c-3.6-1.1-7.2-2.3-10.8-3.5
								c-0.5-0.2-1-0.4-1.5-0.5c-3.2-1.1-6.4-2.3-9.6-3.5c-0.9-0.4-1.8-0.7-2.7-1.1c-3.5-1.4-6.9-2.8-10.3-4.3c-0.7-0.3-1.4-0.6-2.1-0.9
								c-2.9-1.3-5.8-2.7-8.7-4c-0.8-0.4-1.7-0.8-2.5-1.2c-2.3-1.1-4.5-2.3-6.7-3.4c-1.5-0.8-3-1.5-4.5-2.4c-2.7-1.5-5.4-3-8.1-4.5
								c-0.9-0.5-1.8-1-2.7-1.5c-3.5-2.1-7-4.2-10.5-6.4c-1-0.6-1.9-1.3-2.8-1.9c-2.5-1.6-5-3.3-7.5-5c-0.8-0.6-1.6-1.1-2.4-1.7
								c-2.4-1.7-4.7-3.4-7.1-5.1c-1.1-0.8-2.1-1.6-3.1-2.4c-2.1-1.6-4.3-3.3-6.4-5c-1-0.8-1.9-1.5-2.8-2.3c-2.7-2.2-5.3-4.4-7.9-6.7
								c-0.3-0.2-0.6-0.5-0.9-0.7c-2.8-2.5-5.6-5-8.4-7.6c-0.8-0.8-1.6-1.5-2.4-2.3c-2-1.9-4-3.9-6-5.9c-0.8-0.8-1.6-1.6-2.4-2.4
								c-2.5-2.6-5-5.2-7.4-7.8c-0.1-0.1-0.2-0.3-0.4-0.4c-2.5-2.8-5-5.6-7.5-8.5c-0.7-0.8-1.3-1.5-2-2.3c-1.8-2.2-3.6-4.4-5.4-6.6
								c-0.7-0.8-1.3-1.6-2-2.5c-2.1-2.7-4.2-5.5-6.2-8.3c-56-76.4-76.1-181.7-31.4-268.2"/>
							<path class="st0" d="M112.2,98.8c-36.8,52.9-34.8,123.7-6.1,179.6c4.8,9.4,10.2,18.5,16.3,27.1c5.5,7.9,11.6,17.3,18.9,23.6
								c2.6,2.9,5.4,5.8,8.2,8.6c0.7,0.7,1.4,1.4,2.2,2.1c2.7,2.7,5.5,5.3,8.4,7.8c0.1,0.1,0.2,0.2,0.3,0.3c0,0,0.1,0,0.1,0.1
								c3.2,2.8,6.5,5.5,9.8,8.1c0.7,0.6,1.5,1.2,2.2,1.7c3.4,2.6,6.8,5.1,10.3,7.5c0.1,0.1,0.2,0.1,0.3,0.2c1.5,1.1,3.1,2.1,4.7,3.1
								c0.8,0.5,1.5,1,2.2,1.5c2.5,1.6,5,3.2,7.6,4.7c0.4,0.2,0.7,0.4,1.1,0.6c2.2,1.3,4.5,2.5,6.7,3.8c0.8,0.4,1.6,0.8,2.4,1.3
								c1.6,0.8,3.1,1.7,4.7,2.4c0.2,0.1,0.5,0.2,0.7,0.3c3.2,1.6,6.5,3.1,9.8,4.6c0.7,0.3,1.5,0.6,2.2,0.9c2.7,1.1,5.4,2.2,8.1,3.3
								c1.1,0.4,2.3,0.8,3.5,1.3c2.5,0.9,4.9,1.7,7.4,2.6c1.1,0.4,2.2,0.7,3.3,1.1c3.5,1.1,7,2.5,10.7,3.1
								C448.2,431.6,492,285.5,492,285.5c-39.5,56.9-116,84-197.6,62.8c-3.6-1-7.2-2-10.7-3.1c-1.1-0.3-2.2-0.7-3.2-1
								c-2.5-0.8-5-1.7-7.5-2.6c-1.1-0.4-2.3-0.8-3.4-1.3c-2.7-1-5.4-2.1-8.1-3.3c-0.7-0.3-1.5-0.6-2.2-0.9c-3.3-1.5-6.6-3-9.9-4.6
								c-1.7-0.8-3.3-1.7-5-2.5c-1-0.5-1.9-1-2.9-1.5c-2.1-1.1-4.2-2.3-6.3-3.5c-0.5-0.3-1-0.6-1.5-0.8c-2.6-1.5-5.1-3.1-7.6-4.6
								c-0.8-0.5-1.5-1-2.3-1.5c-1.7-1.1-3.3-2.2-4.9-3.3c-3.5-2.4-6.9-4.9-10.3-7.5c-0.8-0.6-1.5-1.2-2.3-1.8
								c-35.7-28.2-64-66.7-77.5-110.5c-14.1-45.3-11.1-96.2,13.4-137.5"/>
							<path class="st0" d="M244.9,52.9c-21.7,31.9-23.8,71.5-8.8,106.7c15.9,37.4,48.3,66.7,86.3,80.6c1.6,0.6,3.1,1.1,4.7,1.6
								c0.7,0.2,1.4,0.4,2.1,0.7c2.2,0.7,4.5,1.5,6.8,2c104.8,20.2,133.2-53.8,140.8-64.7c-24.9,35.8-66.7,44.4-118.1,32
								c-4.1-1-8.5-2.5-12.4-3.8c-5-1.8-10-3.8-14.7-6.1c-9.1-4.4-17.8-9.7-25.9-15.8c-45.9-34.9-74.5-101.3-44.5-155.5"/>
						</g>
						</svg>

					</div>
					<div class="slds-media__body">
						<div class="slds-grid">
							<h1 class="slds-text-heading--medium slds-m-right--small slds-truncate slds-align-middle" title="Record Title">jQuery Components</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

		<section class="slds-grid">
			<div class="slds-col | slds-size--1-of-12 slds-medium-size--1-of-12 slds-large-size--1-of-12">

			</div>

			<div class="slds-col | slds-size--10-of-12 slds-medium-size--10-of-12 slds-large-size--10-of-12">
				<div id="component-list" class="slds-grid slds-grid--vertical">

					<!-- badge -->
					<div class="slds-col | component-wrapper">
						<div class="slds-grid slds-grid--vertical | component">
							<div class="slds-col | header">
								<h2 id="badge" class="slds-text-heading--large">
									<span>Badge</span>
									<span class="slds-badge | slds-theme--shade">alpha: done</span>
								</h2>
							</div>
							<div class="slds-col | body">
								<div class="slds-grid | slds-wrap">
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--react">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">React</span>
											</div>
											<div class="slds-col | example badge">
												<div class="site-example"></div>
											</div>
										</div>
									</div>
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--jquery">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">jQuery</span>
											</div>
											<div id="badge-jquery-control" class="slds-col | example">
												<div class="slds-grid slds-grid--vertical">
													<div class="slds-col | slds-m-bottom--medium">
														<span class="badge0"></span>
														<span class="badge1"></span>
														<span class="badge2"></span>
													</div>
													<div class="slds-col | slds-m-bottom--medium">
														<span class="badge3"></span>
														<span class="badge4"></span>
														<span class="badge5"></span>
														<span class="badge6"></span>
													</div>
													<div class="slds-col | slds-m-bottom--medium">
														<span class="badge7"></span>
														<span class="badge8"></span>
														<span class="badge9"></span>
														<span class="badge10"></span>
														<span class="badge15"></span>
													</div>
												</div>
											</div>
											<div class="slds-col | demo-controls"></div>
											<div class="slds-col | facades-demo-code-showcase">
												<aside class="slds-box | slds-theme--shade">
													<div class="slds-section-title">
														<div class="slds-grid">
															<h4 id="badge-example-code" class="slds-col | slds-has-flexi-truncate | slds-text-heading--label">
																Example Code
															</h4>
														</div>
													</div>
													<pre style="max-height: 400px;" class="language-jsx"><code>{{ code.badge }}</code></pre>
												</aside>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- button -->
					<div class="slds-col component-wrapper">
						<div class="slds-grid slds-grid--vertical component">

							<div class="slds-col header">
								<h2 class="slds-text-heading--large">
									<span>Button &amp; Stateful Button</span>
									<span class="slds-badge slds-theme--warning slds-theme--inverse-text">alpha: in progress</span>
								</h2>
							</div>

							<div class="slds-col body">
								<div class="slds-grid | slds-wrap">
									<div class="slds-col slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 example-type example-type--react">
										<div class="slds-grid slds-grid--vertical example-wrapper">
											<div class="slds-col type">
												<span class="slds-text-heading--label">React</span>
											</div>
											<div id="button-react-control"></div>
										</div>
									</div>
									<div class="slds-col slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 example-type example-type--jquery">
										<div class="slds-grid slds-grid--vertical example-wrapper">
											<div class="slds-col type">
												<span class="slds-text-heading--label">jQuery</span>
											</div>
												<div>
												<div id="button-jquery-control" class="slds-col example">

													<div class="slds-grid slds-grid--vertical">
														<div class="slds-col row">
															<span class="button-base"></span>
															<span class="button-base-disabled" ></span>
														</div>
														<div class="slds-col row">
															<span class="button-neutral"></span>
															<span class="button-neutral-disabled" ></span>
															<span class="button-neutral-small" ></span>
														</div>
														<div class="slds-col row">
															<span class="button-neutral-icon-left"></span>
															<span class="button-neutral-icon-right" ></span>
														</div>
														<div class="slds-col row">
															<span class="button-brand"></span>
															<span class="button-brand-disabled" ></span>
															<span class="button-brand-small" ></span>
														</div>
														<div class="slds-col row">
															<span class="button-destructive"></span>
															<span class="button-destructive-disabled" ></span>
															<span class="button-destructive-small" ></span>
														</div>
														<div class="slds-col row">
															<div class="slds-box slds-box--x-small | slds-theme--inverse">
																<span class="button-inverse"></span>
																<span class="button-inverse-disabled" ></span>
																<span class="button-inverse-small" ></span>
															</div>
														</div>
														<div class="slds-col row">
															<span class="button-stateful"></span>
														</div>
														<div class="slds-col row">
															<div class="button-stateful-inverse | slds-box slds-box--x-small | slds-theme--inverse"></div>
														</div>
														<div class="slds-col row">
															<span class="button-icon-bare-x-small"></span>
															<span class="button-icon-bare-small"></span>
															<span class="button-icon-bare"></span>
															<span class="button-icon-bare-large"></span>
														</div>
														<div class="slds-col row">
															<span class="button-icon-bare-x-small--disabled"></span>
															<span class="button-icon-bare-small--disabled"></span>
															<span class="button-icon-bare--disabled"></span>
															<span class="button-icon-bare-large--disabled"></span>
														</div>
														<div class="slds-col row">
															<span class="button-icon-container"></span>
															<span class="button-icon-container-disabled"></span>
														</div>
														<div class="slds-col row">
															<span class="button-icon-border"></span>
															<span class="button-icon-border-disabled"></span>
														</div>
														<div class="slds-col row">
															<div class="slds-box slds-box--x-small | slds-theme--success">
																<span class="button-icon-border-filled"></span>
																<span class="button-icon-border-filled-disabled"></span>
															</div>
														</div>
														<div class="slds-col row">
															<span class="button-icon-more"></span>
															<span class="button-icon-more-disabled"></span>
														</div>
														<div class="slds-col row">
															<span class="button-icon-stateful"></span>
														</div>
														<div class="slds-col row">
															<div class="slds-box slds-box--x-small | slds-theme--inverse">
																<span class="button-icon-inverse"></span>
																<span class="button-icon-inverse-disabled"></span>

															</div>
														</div>
														<div class="slds-col row">
															<div class="button-icon-hint | slds-box slds-box--x-small | slds-hint-parent">
																<span class="button-icon-bare-hint"></span>
																<span class="button-icon-border-hint"></span>
																<span class="button-icon-border-filled-hint"></span>
																<span class="button-icon-container-hint"></span>

															</div>
														</div>
													</div>

													<div class="slds-col row">&nbsp;</div>

													<div class="slds-col | demo-controls">
														<div class="slds-box slds-box--x-small | slds-theme--shade | slds-m-bottom--medium">
															<h4 class="slds-text-heading--label">
																Neutral button with icon
															</h4>
															<div class="slds-button-group" role="group">
																<button type="button" id="button-jquery-set-icon" class="slds-button slds-button--neutral slds-button--small">Re-render neutral icon button view</button>
															</div>
														</div>
													</div>

													<div class="slds-col | demo-controls">
														<div class="slds-box slds-box--small | slds-theme--shade">
															<h4 class="slds-text-heading--label">
																Stateful button
															</h4>
															<div class="slds-button-group" role="group">
																<button type="button" id="button-stateful-jquery-select" class="slds-button slds-button--neutral slds-button--small">Select</button>
																<button type="button" id="button-stateful-jquery-deselect" class="slds-button slds-button--neutral slds-button--small">Deselect</button>
																<button type="button" id="button-stateful-jquery-disable" class="slds-button slds-button--neutral slds-button--small">Disable</button>
																<button type="button" id="button-stateful-jquery-enable" class="slds-button slds-button--neutral slds-button--small">Enable</button>
															</div>
															<div class="slds-button-group" role="group">
																<button type="button" id="button-stateful-jquery-destroy" class="slds-button slds-button--neutral slds-button--small">Destroy</button>
																<button type="button" id="button-stateful-jquery-recreate" class="slds-button slds-button--neutral slds-button--small">Re-create</button>
															</div>
														</div>
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<!-- button group -->
					<div class="slds-col | component-wrapper">
						<div class="slds-grid slds-grid--vertical | component">

							<div class="slds-col | header">
								<h2 id="button-group" class="slds-text-heading--large">
									<span>Button Group</span>
									<span class="slds-badge | slds-theme--warning slds-theme--inverse-text">alpha: in progress</span>
								</h2>
							</div>

							<div class="slds-col | body">
								<div class="slds-grid | slds-wrap">
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--react">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | row | type">
												<span class="slds-text-heading--label">React</span>
											</div>
											<div id="button-group-react-control" class="slds-col | row | example">
											</div>
										</div>
									</div>
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--jquery">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | row | type">
												<span class="slds-text-heading--label">jQuery</span>
											</div>
											<div id="button-group-jquery-control" class="slds-col | row | example"></div>
											<div class="slds-col | demo-controls">
												<div class="slds-box slds-box--x-small | slds-theme--shade | slds-m-bottom--medium">
													<div class="slds-button-group" role="group">
														<button type="button" id="button-group-jquery-button-select" class="slds-button slds-button--neutral slds-button--small">Toggle 1</button>
														<button type="button" id="button-group-jquery-button-deselect" class="slds-button slds-button--neutral slds-button--small">Toggle 2</button>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- checkbox -->
					<div class="slds-col | component-wrapper">
						<div class="slds-grid slds-grid--vertical component">
							<div class="slds-col header">
								<h2 class="slds-text-heading--large">
									<span>Checkbox</span>
									<span class="slds-badge slds-theme--shade">alpha: done</span>
								</h2>
							</div>
							<div class="slds-col | body">
								<div class="slds-grid | slds-wrap">
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--react">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">React</span>
											</div>
											<div className="slds-col example">
												<div id="checkbox-react-control"></div>
											</div>
										</div>
									</div>
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--jquery">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">jQuery</span>
											</div>
											<div>
												<div id="checkbox-jquery-control" class="slds-col | example">
													<fieldset class="slds-form-element">
														<legend class="slds-form-element__label slds-form-element__label--top"></legend>
														<div class="slds-form-element__control" id="checkbox1"></div>
														<div class="slds-form-element__control" id="checkbox2"></div>
													</fieldset>
												</div>
												<div class="slds-col | demo-controls">
													<div class="slds-button-group" role="group">
														<button type="button" id="checkbox-jquery-check" class="slds-button slds-button--neutral slds-button--small">Check</button>
														<button type="button" id="checkbox-jquery-uncheck" class="slds-button slds-button--neutral slds-button--small">Uncheck</button>
														<button type="button" id="checkbox-jquery-disable" class="slds-button slds-button--neutral slds-button--small">Disable</button>
														<button type="button" id="checkbox-jquery-enable" class="slds-button slds-button--neutral slds-button--small">Enable</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- combobox -->
					<div class="slds-col | component-wrapper">
						<div class="slds-grid slds-grid--vertical | component">
							<div class="slds-col | header">
								<h2 class="slds-text-heading--large">
									<span>Combobox</span>
									<span class="slds-badge | slds-theme--shade">alpha: done</span>
								</h2>
							</div>
							<div class="slds-col | body">
								<div class="slds-grid | slds-wrap">
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--react">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">React</span>
											</div>
											<div id="combobox-react-control"></div>
										</div>
									</div>
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--jquery">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">jQuery</span>
											</div>
											<div>
												<div id="combobox-jquery-control" class="slds-col | example">
													<div class="combobox1"></div>
												</div>
												<div class="slds-col | demo-controls">
													<div class="slds-button-group" role="group">
														<button type="button" id="combobox-jquery-log" class="slds-button slds-button--neutral slds-button--small">Log selected item</button>
														<button type="button" id="combobox-jquery-setByIndex" class="slds-button slds-button--neutral slds-button--small">Set by index</button>
														<button type="button" id="combobox-jquery-setByObject" class="slds-button slds-button--neutral slds-button--small">Set by object</button>
														<button type="button" id="combobox-jquery-enable" class="slds-button slds-button--neutral slds-button--small">Enable</button>
														<button type="button" id="combobox-jquery-disable" class="slds-button slds-button--neutral slds-button--small">Disable</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- data-table -->
					<div class="slds-col | component-wrapper">
						<div class="slds-grid slds-grid--vertical | component">
							<div class="slds-col | header">
								<h2 class="slds-text-heading--large">
									<span>Data Table</span>
									<span class="slds-badge | slds-theme--warning slds-theme--inverse-text">alpha: in progress</span>
								</h2>
							</div>
							<div class="slds-col | body">
								<div class="slds-grid | slds-wrap">
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--react">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">React</span>
											</div>
											<div className="slds-col example">
												<div id="data-table-react-control"></div>
											</div>
											<div className="slds-col demo-controls"></div>
										</div>
									</div>
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--jquery">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">jQuery</span>
											</div>
											<div id="data-table-jquery-control" class="slds-col | example">
												<div class="dataTable1"></div>
											</div>
											<div class="slds-col | demo-controls">
												<div class="slds-button-group" role="group"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- datepicker -->
					<div class="slds-col | component-wrapper">
						<div class="slds-grid slds-grid--vertical | component">
							<div class="slds-col | header">
								<h2 class="slds-text-heading--large">
									<span>Datepicker</span>
									<span class="slds-badge slds-theme--warning slds-theme--inverse-text">alpha: in progress</span>
								</h2>
							</div>
							<div class="slds-col | body">
								<div class="slds-grid | slds-wrap">
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--react">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">React</span>
											</div>
											<div class="slds-col | example">
												<div id="datepicker-react-control"></div>
											</div>
										</div>
									</div>
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--jquery">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">jQuery</span>
											</div>
											<div>
												<div id="datepicker-jquery-control" class="slds-col | example">
													<div class=""></div>
												</div>
												<div class="slds-col | demo-controls">
													<div class="slds-button-group" role="group"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- dropdown -->
					<div class="slds-col | component-wrapper">
						<div class="slds-grid slds-grid--vertical | component">
							<div class="slds-col | header">
								<h2 class="slds-text-heading--large">
									<span>Dropdown</span>
									<span class="slds-badge | slds-theme--warning slds-theme--inverse-text">alpha: in progress</span>
								</h2>
							</div>
							<div class="slds-col | body">
								<div class="slds-grid | slds-wrap">
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--react">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">React</span>
											</div>
											<div id="dropdown-react-control"></div>
										</div>
									</div>
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--jquery">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">jQuery</span>
											</div>
											<div>
												<div id="dropdown-jquery-control" class="slds-col | example">
													<div class="dropdown1"></div>
												</div>
												<div class="slds-col | demo-controls">
													<div class="slds-button-group" role="group">
														<button id="dropdown-jquery-log" class="slds-button slds-button--neutral slds-button--small">Log selected item</button>
														<button id="dropdown-jquery-setByIndex" class="slds-button slds-button--neutral slds-button--small">Set by index</button>
														<button id="dropdown-jquery-setByObject" class="slds-button slds-button--neutral slds-button--small">Set by object</button>
														<button id="dropdown-jquery-enable" class="slds-button slds-button--neutral slds-button--small">Enable</button>
														<button id="dropdown-jquery-disable" class="slds-button slds-button--neutral slds-button--small">Disable</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- lookup -->
					<div class="slds-col | component-wrapper">
						<div class="slds-grid slds-grid--vertical | component">
							<div class="slds-col | header">
								<h2 class="slds-text-heading--large">
									<span>Lookup</span>
									<span class="slds-badge slds-theme--warning slds-theme--inverse-text">alpha: in progress</span>
								</h2>
							</div>
							<div class="slds-col | body">
								<div class="slds-grid slds-grid--vertical-stretch | slds-wrap">
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--react">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">React</span>
											</div>
											<div id="lookup-react-control"></div>
										</div>
									</div>
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--jquery">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">jQuery</span>
											</div>
											<div>
												<div id="lookup-jquery-control" class="slds-col | example">
													<div class=""></div>
												</div>
												<div class="slds-col | demo-controls">
													<div class="slds-button-group" role="group"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- modal -->
					<div class="slds-col | component-wrapper">
						<div class="slds-grid slds-grid--vertical | component">
							<div class="slds-col | header">
								<h2 class="slds-text-heading--large">
									<span>Modal</span>
									<span class="slds-badge slds-theme--warning slds-theme--inverse-text">alpha: in progress</span>
								</h2>
							</div>
							<div class="slds-col | body">
								<div class="slds-grid | slds-wrap">
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--react">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">React</span>
											</div>
											<div id="modal-react-control"></div>
										</div>
									</div>
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--jquery">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">jQuery</span>
											</div>
											<div>
												<button type="button" id="modal-jquery-control-launch" class="slds-button slds-button--neutral slds-button--small">Show</button>
												<div id="modal-jquery-control" class="slds-col | example">
													<p>This is the sample content for the jquery modal!</p>
												</div>
												<div class="slds-col | demo-controls">
													<div class="slds-button-group" role="group"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- notification -->
					<div class="slds-col | component-wrapper">
						<div class="slds-grid slds-grid--vertical | component">
							<div class="slds-col | header">
								<h2 class="slds-text-heading--large">
									<span>Notification</span>
									<span class="slds-badge | slds-theme--shade">alpha: done</span>
								</h2>
							</div>
							<div class="slds-col | body">
								<div class="slds-grid | slds-wrap">
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--react">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">React</span>
											</div>
											<div id="notification-react-control"></div>
										</div>
									</div>
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--jquery">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">jQuery</span>
											</div>
											<div>
												<div id="notification-jquery-control" class="slds-col | example">
													<div class="notification1"></div>
													<div class="notification2"></div>
													<div class="notification3"></div>
													<div class="notification4"></div>
												</div>
												<div class="slds-col | demo-controls">
													<div class="slds-button-group" role="group">
														<button type="button" id="notification-jquery-hide" class="slds-button slds-button--neutral slds-button--small">Hide</button>
														<button type="button" id="notification-jquery-show" class="slds-button slds-button--neutral slds-button--small">Show</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- picklist -->
					<div class="slds-col | component-wrapper">
						<div class="slds-grid slds-grid--vertical | component">
							<div class="slds-col | header">
								<h2 class="slds-text-heading--large">
									<span>Picklist</span>
									<span class="slds-badge | slds-theme--shade">alpha: done</span>
								</h2>
							</div>
							<div class="slds-col | body">
								<div class="slds-grid | slds-wrap">
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--react">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">React</span>
											</div>
											<div id="picklist-react-control"></div>
										</div>
									</div>
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--jquery">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">jQuery</span>
											</div>
											<div>
												<div id="picklist-jquery-control" class="slds-col | example">
													<div class="picklist1"></div>
												</div>
												<div class="slds-col | demo-controls">
													<div class="slds-button-group" role="group">
														<button id="picklist-jquery-log" class="slds-button slds-button--neutral slds-button--small">Log selected item</button>
														<button id="picklist-jquery-setByIndex" class="slds-button slds-button--neutral slds-button--small">Set by index</button>
														<button id="picklist-jquery-setByObject" class="slds-button slds-button--neutral slds-button--small">Set by object</button>
														<button id="picklist-jquery-enable" class="slds-button slds-button--neutral slds-button--small">Enable</button>
														<button id="picklist-jquery-disable" class="slds-button slds-button--neutral slds-button--small">Disable</button>
														<button id="picklist-jquery-destroy" class="slds-button slds-button--neutral slds-button--small">Destroy</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- pills -->
					<div class="slds-col | component-wrapper">
						<div class="slds-grid slds-grid--vertical | component">
							<div class="slds-col | header">
								<h2 class="slds-text-heading--large">
									<span>Pills</span>
									<span class="slds-badge | slds-theme--shade">alpha: done</span>
								</h2>
							</div>
							<div class="slds-col | body">
								<div class="slds-grid | slds-wrap">
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--react">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">React</span>
											</div>
											<div id="pills-react-control"></div>
										</div>
									</div>
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--jquery">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">jQuery</span>
											</div>
											<div>
												<div id="pills-jquery-control" class="slds-col | example">
													<div class="pills1"></div>
												</div>
												<div class="slds-col | demo-controls">
													<div class="slds-button-group" role="group"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- popover -->
					<div class="slds-col | component-wrapper">
						<div class="slds-grid slds-grid--vertical | component">
							<div class="slds-col | header">
								<h2 class="slds-text-heading--large">
									<span>Popover</span>
									<span class="slds-badge | slds-theme--warning slds-theme--inverse-text">alpha: in progress</span>
								</h2>
							</div>
							<div class="slds-col | body">
								<div class="slds-grid | slds-wrap">
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--react">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">React</span>
											</div>
											<div id="popover-react-control" class="slds-col example">
											</div>
										</div>
									</div>
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--jquery">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">jQuery</span>
											</div>
											<div id="popover-jquery-control" class="slds-col | example">
												<button id="popover-jquery-toggle" class="slds-button slds-button--neutral slds-button--small">Toggle</button>
											</div>
											<div class="slds-col | demo-controls">
												<div class="slds-button-group" role="group"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- radio -->
					<div class="slds-col | component-wrapper">
						<div class="slds-grid slds-grid--vertical | component">
							<div class="slds-col | header">
								<h2 class="slds-text-heading--large">
									<span>Radio</span>
									<span class="slds-badge | slds-theme--warning slds-theme--inverse-text">alpha: in progress</span>
								</h2>
							</div>
							<div class="slds-col | body">
								<div class="slds-grid | slds-wrap">
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--react">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">React</span>
											</div>
											<div id="radio-react-control"></div>
										</div>
									</div>
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--jquery">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">jQuery</span>
											</div>
											<div id="radio-jquery-control" class="slds-col | example"></div>
											<div class="slds-col | demo-controls">
												<div class="slds-button-group" role="group">
													<button id="radio-jquery-checkFirst" type="button" class="slds-button slds-button--neutral slds-button--small">Check first</button>
													<button id="radio-jquery-checkSecond" type="button" class="slds-button slds-button--neutral slds-button--small">Check second</button>
												</div>
												<div class="slds-button-group" role="group">
													<button id="radio-jquery-disableFirst" type="button" class="slds-button slds-button--neutral slds-button--small">Disable first</button>
													<button id="radio-jquery-enableFirst" type="button" class="slds-button slds-button--neutral slds-button--small">Enable first</button>
													<button id="radio-jquery-disableAll" type="button" class="slds-button slds-button--neutral slds-button--small">Disable all</button>
													<button id="radio-jquery-enableAll" type="button" class="slds-button slds-button--neutral slds-button--small">Enable all</button>
												</div>
												<div class="slds-button-group" role="group">
													<button id="radio-jquery-logChecked" type="button" class="slds-button slds-button--neutral slds-button--small">Log Checked</button>
													<button id="radio-jquery-logValue" type="button" class="slds-button slds-button--neutral slds-button--small">Log Value</button>
													<button id="radio-jquery-destroy" type="button" class="slds-button slds-button--neutral slds-button--small">Destroy</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- spinner -->
					<div class="slds-col | component-wrapper">
						<div class="slds-grid slds-grid--vertical | component">
							<div class="slds-col | header">
								<h2 class="slds-text-heading--large">
									<span>Spinner</span>
									<span class="slds-badge | slds-theme--shade">alpha: done</span>
								</h2>
							</div>
							<div class="slds-col | body">
								<div class="slds-grid | slds-wrap">
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--react">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">React</span>
											</div>
											<div id="spinner-react-control" class="slds-col | example"></div>
										</div>
									</div>
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--jquery">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">jQuery</span>
											</div>
											<div id="spinner-jquery-control" class="slds-col | example">
												<div class="slds-grid slds-grid--vertical">
													<div class="slds-col slds-theme--default">
														<div class="slds-float--left spinner">
															<div class="spinner1"></div>
														</div>
														<div class="slds-float--left spinner">
															<div class="spinner2"></div>
														</div>
														<div class="slds-float--left spinner">
															<div class="spinner3"></div>
														</div>
													</div>
													<div class="slds-col slds-theme--shade">
														<div class="slds-float--left spinner">
															<div class="spinner4"></div>
														</div>
														<div class="slds-float--left spinner">
															<div class="spinner5"></div>
														</div>
														<div class="slds-float--left spinner">
															<div class="spinner6"></div>
														</div>
													</div>
													<div class="slds-col slds-theme--inverse">
														<div class="slds-float--left spinner">
															<div class="spinner7"></div>
														</div>
														<div class="slds-float--left spinner">
															<div class="spinner8"></div>
														</div>
														<div class="slds-float--left spinner">
															<div class="spinner9"></div>
														</div>
													</div>
												</div>
											</div>
											<div class="slds-col | demo-controls">
												<div class="slds-button-group" role="group"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- tabs -->
					<div class="slds-col | component-wrapper">
						<div class="slds-grid slds-grid--vertical | component">
							<div class="slds-col | header">
								<h2 class="slds-text-heading--large">
									<span>Tabs</span>
									<span class="slds-badge | slds-theme--error slds-theme--inverse-text">alpha: not started</span>
								</h2>
							</div>
							<div class="slds-col | body">
								<div class="slds-grid | slds-wrap">
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--react">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">React</span>
											</div>
											<div id="tabs-react-control"></div>
										</div>
									</div>
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--jquery">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">jQuery</span>
											</div>
											<div>
												<div id="tabs-jquery-control" class="slds-col | example">
													<div class=""></div>
												</div>
												<div class="slds-col | demo-controls">
													<div class="slds-button-group" role="group"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- tooltip -->
					<div class="slds-col | component-wrapper">
						<div class="slds-grid slds-grid--vertical | component">
							<div class="slds-col | header">
								<h2 class="slds-text-heading--large">
									<span>Tooltip</span>
									<span class="slds-badge | slds-theme--warning slds-theme--inverse-text">alpha: in progress</span>
								</h2>
							</div>
							<div class="slds-col | body">
								<div class="slds-grid | slds-wrap">
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--react">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">React</span>
											</div>
											<div id="tooltip-react-control" class="slds-col | example"></div>
										</div>
									</div>
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--jquery">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">jQuery</span>
											</div>
											<div>
												<div id="tooltip-jquery-control" class="slds-col | example">
													<button id="tooltip-jquery-toggle" class="slds-button slds-button--neutral slds-button--small">Toggle</button>
												</div>
												<div class="slds-col | demo-controls">
													<div class="slds-button-group" role="group"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- tree -->
					<div class="slds-col | component-wrapper">
						<div class="slds-grid slds-grid--vertical | component">
							<div class="slds-col | header">
								<h2 class="slds-text-heading--large">
									<span>Tree</span>
									<span class="slds-badge | slds-theme--warning slds-theme--inverse-text">alpha: in progress</span>
								</h2>
							</div>
							<div class="slds-col | body">
								<div class="slds-grid | slds-wrap">
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--react">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">React</span>
											</div>
											<div id="tree-react-control"></div>
										</div>
									</div>
									<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 | example-type example-type--jquery">
										<div class="slds-grid slds-grid--vertical | example-wrapper">
											<div class="slds-col | example-type-heading-wrapper | facades-demo-hide">
												<span class="slds-text-heading--label">jQuery</span>
											</div>
											<div>
												<div id="tree-jquery-control" class="slds-col | example">
													<div class="tree1"></div>
												</div>
												<div class="slds-col | demo-controls">
													<div class="slds-button-group" role="group"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="slds-col | slds-size--1-of-12 slds-medium-size--1-of-12 slds-large-size--1-of-12">

			</div>
		</section>

	<script src="vendor/prism/prism.js"></script>
	<script src="vendor/prism/components/prism-jsx.js"></script>
	<script src="/assets/facades/scripts/jquery.min.js"></script>
	<script src="build/demo-site-examples-jquery.bundle.js"></script>
</body>
</html>
