{{!-- {{> jquery/header}} --}}

<section class="slds-grid">
	{{> left-nav}}

	<div id="main-content" class="slds-col--padded | slds-size--9-of-12 slds-medium-size--9-of-12 slds-large-size--9-of-12">

		<div class="slds-p-around--medium copy-text">
			<h3 class="slds-text-heading--medium slds-truncate">
				Getting Started
			</h3>

			<p class="slds-m-vertical--small">
				Note: SLDS for jQuery uses SLDS v0.12.1.
			</p>

			<div class="slds-p-vertical--medium" style="maxWidth:800px">
				<h3 class="slds-text-heading--medium slds-p-vertical--small">
					Project Overview
				</h3>

				<p class="slds-m-vertical--small">
					The SLDS for jQuery library is the jQuery implementation of the <a href="http://www.lightningdesignsystem.com/">Lightning Design System</a>.	Each jQuery control is a specific variant of a component from Lightning Design System.
					For example, <code>Dropdown</code> represents <a href="http://www.lightningdesignsystem.com/components/menus/#dropdown">Lightning Design System Menu > Dropdown</a>,
					and <code>Lookup</code> represents <a href="http://www.lightningdesignsystem.com/components/lookups/#base">Lightning Design System Lookup > Base</a>.
				</p>

				<p class="slds-m-vertical--small">
					JQuery is not bundled with Facades. You will first need to <a href="https://jquery.com/download/">download</a> or link to a jQuery CDN in order to set up jQuery in your project.
				</p>
			</div>
			<div class="slds-p-vertical--medium">
				<p class="slds-p-vertical--small">
					Have fun! If you have any questions (and we hope you do!), then please let us know via our <a href="https://github.com/salesforce-ux/design-system-facades/issues">GitHub Issues</a>.
				</p>
			</div>
		</div>

		{{> components-cards}}

	</div>
</section>

<div class="codeshare-template slds-hidden">
	<div class="slds-box">
		<div class="slds-section-title">
			<div class="slds-grid">
				<h3 class="slds-col | slds-has-flexi-truncate | slds-text-heading--small | section-heading"></h3>
			</div>
		</div>
	</div>
</div>
