<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
	<span class="selected-label">{{name}}</span>
	<span class="caret"></span>
	<span class="sr-only">Toggle Dropdown</span>
</button>
<ul class="dropdown-menu" role="menu">
</ul>
{{#if formName}}<input class="hidden hidden-field" name="{{formName}}" value="{{value}}" readonly="readonly" aria-hidden="true" type="text"/>{{/if}}