<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button"<% if (disabled) { %> disabled<% } %><% if (width) { %> style="width: <%- width %>px"<% } %>>
	<span class="selected-label"><% if (selection) { %><%- selection.name %><% } else { %>None selected<% } %></span>
	<span class="caret"></span>
	<span class="sr-only">Toggle Dropdown</span>
</button>
<ul class="dropdown-menu" role="menu"<% if (width) { %> style="width: <%- width %>px"<% } %>>
</ul>
<input class="hidden hidden-field" readonly aria-hidden="true" type="text" value="<% JSON.stringify(selection) %>"></input>