h2 {
	margin-top:25px;
}
h3 {
	margin-top:5px;
}

body > .example-group {
	margin: 50px 150px;
}

body > .example-group .col-sm-12 > section {
	margin: 30px 0 30px;
}

body > .example-group .col-sm-12 > section > section {
	margin: 30px 0 30px;
}

body > .example-group .col-sm-12 > section h1 {
	margin: 0 0 15px;
}

body > .slds-container {
	margin: 0 150px;
}

#pillbox1,#pillbox2 {
	height: 40px;
}