@import "~@salesforce-ux/design-system/scss/_design-tokens.scss";

.day-occurrence-picker {
	position: relative;

	&__circle {
		background: $color-background-alt;
		border: .0625rem solid #e6e8ee;
		border-radius: 1rem;
		color: transparent;
		font-size: .75rem;
		height: 2rem;
		padding: .375rem 0 0 .0625rem;
		text-align: center;
		width: 2rem;

		&.--hovered {
			border-color: $color-border-brand;
			color: $color-border-brand;
		}

		&.--selected {
			background: $color-border-brand;
			border-color: $color-border-brand;
			color: $color-text-inverse;
		}
	}

	&__days-row {
		td {
			color: $color-text-action-label;
			padding: .25rem;
			text-align: center;

			&.--hovered {
				background: $color-background;
			}
		}
	}

	&__dropdown {
		background: $color-background-alt;
		border: $border-width-thin solid $color-border;
		border-radius: $border-radius-medium;
		box-shadow: $shadow-drop-down;
		left: 0;
		margin-top: .125rem;
		padding: .5rem;
		position: absolute;
		top: 100%;
		z-index: 999;
	}

	&__occurrence-row {
		td {
			cursor: pointer;
			padding: .25rem;

			&:first-child {
				color: $color-text-action-label;
				cursor: auto;
				text-align: center;
				white-space: nowrap;
			}

			&.--hovered {
				background: $color-background;
			}
		}
	}

	.slds-input[disabled], .slds-input.slds-is-disabled {
		background: $color-background-input;
		border-color: $color-background-shade-dark;
		color: $color-background-shade-dark;
	}
}