<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/assets/demo-site/images/favicon.png" sizes="16x16" rel="icon" type="image/png">
		<!-- dependencies -->
		<link href="/assets/styles/salesforce-lightning-design-system.css" rel="stylesheet">
		<link href="/build/facades-demo-styles.css" rel="stylesheet" type="text/css">
		<link href="/documentation/docco.css" rel="stylesheet" media="all">
	</head>
	<body class="facades-demo | facades-documentation | slds">
		<nav id="top-of-page" class="facades-demo-main-nav slds-page-header">
			<div class="slds-grid">
				<a href="/" class="slds-media slds-media--center">
					<div class="slds-media__figure">
						<img src="/assets/demo-site/images/salesforce-logo.svg" width="40">
					</div>
					<div class="slds-media__body">
						<h4 class="slds-text-heading--label">
							Design System Facades
						</h4>
					</div>
				</a>
			</div>
		</nav>

		<div id="container" class="facades-demo-masthead slds-p-around--large">
			<% 
				if (sources.length > 1) { 
			%>
			<ul id="jump_to" class="slds-p-horizontal--medium">
				<li>
					<a class="large" href="javascript:void(0);">Jump To &hellip;</a>
					<a class="small" href="javascript:void(0);">+</a>
					<div id="jump_wrapper" class="slds-p-around--small">
						<div id="jump_page_wrapper" class="">
							<nav id="jump_page" class="slds-scrollable--y">
							<%
								var sources_hash = {}, directory;

								for (var i=0, l=sources.length; i<l; i++) {
									var src = sources[i];
									var directory = path.dirname(src) || 'Top Level';
									var arr = sources_hash[directory] || [];
								
									arr.push({
										href:'/documentation/' + directory + '/' + path.basename(src).replace('.js', '.html'),
										label:directory + '/' + path.basename(src)
									});
									sources_hash[directory] = arr;
								}
								
								for (directory in sources_hash) {
									var files = sources_hash[directory];
									if (directory.indexOf('example') < 0) {
							%>
										<section class="slds-box slds-box--x-small | slds-theme--default | slds-m-vertical--small slds-m-horizontal--medium">
											<h4 class="slds-text-heading--label"><%= directory %></h4>
											<ul class="slds-list--vertical slds-has-dividers--top-space">
											<%
												files.forEach(function(file) {
													if (file.label.indexOf('example') < 0 && file.label.indexOf('index') < 0) {
											%>
												<li class="slds-list__item"><a class="source" href="<%= file.href %>"><%= file.label %></a></li>
											<% 
													}
												});
											%>
											</ul>
										</section>
							<%
									}
								}
							%>
							</nav>
						</div>
					</div>
				</li>
			</ul>
			<% } %>
			<div class="sections | slds-box | slds-theme--default">
				<div class="slds-grid slds-grid--vertical">
					<% for (var i=0, l=sections.length; i<l; i++) { %>
					<% var section = sections[i]; %>
					<section id="section-<%= i + 1 %>" class="slds-col">
						<div class="slds-m-horizontal--large">
							<div class="slds-grid slds-wrap">
								<div class="slds-col | slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3 | annotation comments">
								<% heading = section.docsHtml.match(/^\s*<(h\d)>/) %>
									<div class="pilwrap <%= heading ? 'for-' + heading[1] : '' %>">
										<a class="pilcrow" href="#section-<%= i + 1 %>">&#182;</a>
									</div>
								<%= section.docsHtml %>
								</div>
								<% if (section.codeText.replace(/\s/gm, '') != '') { %>
								<div class="slds-col slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--2-of-3 annotation code">
									<div class="slds-scrollable--x slds-m-left--medium herpaderp">
										<%= section.codeHtml %>
									</div>
								</div>
								<% } %>
							</div>
						</div>
					</section>
					<% } %>
					
					<footer class="slds-col--padded">
						<p>
							<a href="#top-of-page">[back to top]</a>
						</p>
					</footer>
				</div>
			</div>
		</div>
		<script src="/vendor/prism/prism.js" data-manual></script>
		<script src="/vendor/prism/components/prism-jsx.js"></script>
		<script src="/vendor/jquery/jquery.min.js"></script>
		<script>
			
			var fadeTheCodeIn = function(){
				$('pre > code').addClass('rendered');
			}
			
			$(function () {
							
				
				// Highlighting Prism manually to prevent FOUC
				Prism.highlightAll('true', fadeTheCodeIn);

				$('a[href="' + window.location.pathname + '"]').parent().addClass('slds-theme--inverse');
				if($('#section-1 pre code.language-jsx > .token.comment').parent().children().length === 1) {
					$('#section-1 pre code.language-jsx > .token.comment').parent().parent().hide();
				}
				var timeoutID = window.setTimeout(function(){
					if($('#section-1 pre code.language-jsx > .token.comment').parent().children().length === 1) {
						$('#section-1 pre code.language-jsx > .token.comment').parent().parent().hide();
					}
					
				}, 10);

			});
		</script>
	</body>
</html>
