<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Salesforce Lightning Design System for JavaScript</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/assets/demo-site/images/favicon.png" sizes="16x16" rel="icon" type="image/png">
	<!-- dependencies -->
	<link href="/assets/styles/salesforce-lightning-design-system.css" rel="stylesheet">
	<link href="/build/facades-demo-styles.css" rel="stylesheet" type="text/css">
	<style>

	</style>
</head>
<body>

<div class="slds-page">
	<div class="section1">
		<div class="row">
			<div class="span12">
				<div class="outlined-icons">
					<div class="square1 outlined-icon">
						<svg enable-background="new 0 0 1000 1000" version="1.1" viewBox="0 0 1000 1000" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
						  <path d="M891.703,279.564L482.051,4.684c-14.98-9.366-25.8,1.333-25.8,1.333L106.692,310.708c-7.671,5.973-7.605,16.155-7.605,16.155v378.179c0,1.25,0.189,5.451,2.393,9.882c2.11,4.245,6.586,7.613,6.586,7.613l379.868,272.896c5.208,2.682,7.586,3.914,13.989,3.595c6.403-0.321,11.58-4.603,11.58-4.603l317.77-262.279c0,0,5.817-3.944,7.213-13.344l62.122-418.326c0,0,0.899-5.294-1.213-11.133C897.468,284.012,893.729,281.173,891.703,279.564zM889.664,291.081L522.85,587.568L111.205,319.513c0.839-1.749,4.064-4.681,4.064-4.681L457.694,16.016c0,0,10.372-12.274,24.972-1.329L882,282.53C887.251,286.054,889.664,291.081,889.664,291.081z M488.3,984.26L116.461,717.937c0,0-4.478-3.465-6.363-6.121c-2.931-4.133-2.471-11.092-2.471-11.092l0.346-370.591c0,0,0.064-2.423,0.229-2.915l409.891,267.46L497.265,987.99C492.922,987.354,488.3,984.26,488.3,984.26z M891.529,303.008L830.94,715.343c-1.374,8.933-7.434,13.134-7.434,13.134l-309.67,255.07c-5.539,3.99-8.38,4.123-8.38,4.123l21.165-393.352L891.736,300.23C891.808,301.321,891.529,303.008,891.529,303.008z"></path>
						</svg>
					</div>
					<div class="slice1 outlined-icon">
						<svg enable-background="new 0 0 1000 1000" version="1.1" viewBox="0 0 1000 1000" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
						  <path d="m797.98584,635.73712l185.81268,-268.47821c0,0 6.82251,-8.59769 2.72742,-21.14261s-15.61481,-15.52707 -15.61481,-15.52707l-758.5484,-248.06732c0,0 -6.08951,-2.34491 -13.95538,-0.50424c-9.09399,2.12923 -14.13126,9.682 -14.13126,9.682l-156.89981,227.97059c-4.21,5.79285 -4.34362,13.14868 -4.34362,13.14868l-13.54863,531.06509c0,0 -1.17703,11.66644 9.08023,19.71954c11.21717,8.80743 22.54044,4.22198 22.54044,4.22198l744.01535,-242.55811c0.00098,0.00104 7.84222,-2.27698 12.86578,-9.53033zm-771.3032,237.66644c-8.0604,-5.83228 -6.19071,-23.83221 -6.19071,-23.83221l12.6634,-512.28714c0,0 0.18176,-4.34906 1.42167,-7.50943l737.09848,309.37085l-719.18462,234.37708c0,0 -17.56606,5.84009 -25.80822,-0.11914zm758.26249,-238.97632l-744.80131,-313.42841l148.26466,-217.66719c0,0 5.08049,-8.19489 12.27629,-9.95972c7.93661,-1.94605 14.55275,0.92082 14.55275,0.92082l740.2897,241.45512c0,0 18.12115,4.06641 20.1687,14.7027c1.69385,8.84784 -7.96997,21.96204 -7.96997,21.96204l-177.34766,256.06726c-2.81775,4.71442 -5.43317,5.94739 -5.43317,5.94739z"></path>
						</svg>
					</div>
					<div class="triangle1 outlined-icon">
						<svg enable-background="new 0 0 1000 1000" version="1.1" viewBox="0 0 1000 1000" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
						  <path d="m856.06201,11.24701l-830.65801,449.88763c0,0 -10.063,5.15817 -10.628,16.86768c-0.589,12.29358 9.471,17.96478 9.471,17.96478l831.02003,496.26776c0,0 9.32697,6.31848 20.31799,0.47754c10.995,-5.84192 10.63202,-17.27509 10.63202,-17.27509l0.48096,-946.56885c0,0 0.68805,-10.34693 -9.40796,-17.01368c-10.09302,-6.66479 -21.22803,-0.60778 -21.22803,-0.60778zm9.21301,6.76936l-325.41901,472.02398l-515.80602,-15.513c0,0 1.366,-5.53705 16.556,-13.39172l807.63503,-437.16782c12.74298,-6.58289 17.034,-5.95144 17.034,-5.95144zm-18.047,959.42778l-808.12303,-481.46918c0,0 -13.858,-7.52313 -14.714,-12.83029l515.46502,14.98315l325.97601,487.56357c-4.27002,0.00006 -18.604,-8.24725 -18.604,-8.24725zm31.16095,-935.68421l0,918.81159c0.59198,20.9928 -4.37897,22.52112 -4.37897,22.52112l-326.46802,-488.88672l326.25104,-473.53549c5.57098,1.83319 4.59595,21.0895 4.59595,21.0895z"></path>
						</svg>
					</div>
					<div class="tube1 outlined-icon">
						<svg enable-background="new 0 0 1000 1000" version="1.1" viewBox="0 0 1000 1000" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
						  <path d="m962.85944,463.1662c-6.43201,9.13409 -14.12366,17.11819 -22.8587,23.67657c-35.13812,26.41833 -84.55408,29.02667 -139.15607,7.36755c-54.09497,-21.47629 -106.9342,-64.29257 -148.77448,-120.57239c-74.67712,-100.40128 -95.5,-220.67825 -49.48969,-286.02998c4.84906,-6.88147 10.45074,-13.14445 16.61743,-18.59429c2.0202,-1.76656 4.09344,-3.47186 6.24921,-5.09318c35.13904,-26.4193 84.54816,-29.03159 139.14819,-7.35077c54.09497,21.47038 106.93427,64.28664 148.78137,120.55561c74.67706,100.40622 95.495,220.68912 49.48273,286.04086zm-355.2049,-371.94312c-44.4873,63.18401 -23.71454,180.39127 49.39044,278.68018c41.16229,55.34912 93.0415,97.43625 146.08221,118.48276c52.51404,20.84595 99.81842,18.52219 133.14655,-6.54755c8.22913,-6.17993 15.45209,-13.67401 21.51361,-22.28842c44.48633,-63.18402 23.71753,-180.3913 -49.38745,-278.68016c-41.16522,-55.34914 -93.04352,-97.43626 -146.08221,-118.48277c-52.51703,-20.84596 -99.8125,-18.53402 -133.13965,6.53072c-2.03302,1.52647 -3.99127,3.14285 -5.87292,4.79282c-5.81293,5.13171 -11.07764,11.01628 -15.65057,17.51242z"></path>
						  <path d="m934.66229,490.4075c-23.43158,17.71399 -557.61646,422.87192 -588.12067,439.27774c-32.79755,17.63788 -52.69089,20.55151 -132.08536,-19.20587c-89.44235,-44.80811 -191.1365,-156.3017 -199.98759,-250.88062c-8.39124,-89.7525 28.97139,-149.55359 48.4029,-164.44879l556.49634,-426.27066l3.77216,4.96967l-556.49931,426.27853c-17.79453,13.64044 -54.05863,72.60956 -45.97887,158.89032c8.6418,92.49615 108.63314,201.80042 196.57705,245.87238c80.43898,40.27905 97.75499,34.66522 126.37657,19.27997c30.08075,-16.17072 581.58066,-434.42664 587.30911,-438.75012l3.73767,4.98746z"></path>
						</svg>
					</div>
					<div class="square2 outlined-icon">
						<svg enable-background="new 0 0 1000 1000" version="1.1" viewBox="0 0 1000 1000" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
						  <path d="M891.703,279.564L482.051,4.684c-14.98-9.366-25.8,1.333-25.8,1.333L106.692,310.708c-7.671,5.973-7.605,16.155-7.605,16.155v378.179c0,1.25,0.189,5.451,2.393,9.882c2.11,4.245,6.586,7.613,6.586,7.613l379.868,272.896c5.208,2.682,7.586,3.914,13.989,3.595c6.403-0.321,11.58-4.603,11.58-4.603l317.77-262.279c0,0,5.817-3.944,7.213-13.344l62.122-418.326c0,0,0.899-5.294-1.213-11.133C897.468,284.012,893.729,281.173,891.703,279.564zM889.664,291.081L522.85,587.568L111.205,319.513c0.839-1.749,4.064-4.681,4.064-4.681L457.694,16.016c0,0,10.372-12.274,24.972-1.329L882,282.53C887.251,286.054,889.664,291.081,889.664,291.081z M488.3,984.26L116.461,717.937c0,0-4.478-3.465-6.363-6.121c-2.931-4.133-2.471-11.092-2.471-11.092l0.346-370.591c0,0,0.064-2.423,0.229-2.915l409.891,267.46L497.265,987.99C492.922,987.354,488.3,984.26,488.3,984.26z M891.529,303.008L830.94,715.343c-1.374,8.933-7.434,13.134-7.434,13.134l-309.67,255.07c-5.539,3.99-8.38,4.123-8.38,4.123l21.165-393.352L891.736,300.23C891.808,301.321,891.529,303.008,891.529,303.008z"></path>
						</svg>
					</div>
					<div class="rectangle1 outlined-icon">
						<svg enable-background="new 0 0 1000 1000" version="1.1" viewBox="0 0 1000 1000" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
						  <path d="M801.822,789.952l117.923-460.716c0,0,1.537-4.562-0.338-10.24c-1.889-5.718-6.105-8.798-6.105-8.798L515.996,5.403c0,0-4.312-3.839-11.342-3.835c-6.225,0.003-11.23,3.709-11.23,3.709L86.866,322.367c-2.655,2.07-5.985,6.216-6.971,11.994c-0.986,5.779,1.475,10.225,1.475,10.225l198.864,454.819c1.981,4.529,5.515,7.234,5.515,7.234L510.197,996.65c0,0,5.303,4.5,11.748,4.24c7.424-0.299,10.752-3.547,10.752-3.547l262.523-196.985C795.221,800.358,800.449,796.834,801.822,789.952z M911.054,320.319L471.478,632.121L89.354,333.591c0,0,1.003-5.522,6.546-9.83L493.589,14.678c0,0,4.572-4.406,11.624-4.331c5.49,0.059,10.771,4.602,10.771,4.602l389.881,298.984C909.666,317.14,911.054,320.319,911.054,320.319z M509.959,987.055L291.109,801.29c0,0-2.863-1.881-4.708-6.11L89.545,343.643l378.507,295.525l47.865,351.321C515.917,990.489,512.725,989.496,509.959,987.055z M788.269,796.039L532.733,988.103c-3.163,2.707-9.172,3.441-9.172,3.441l-48.112-352.84l436.746-310.212c-0.015,0.892-0.548,3.634-0.548,3.634L795.093,785.587C793.725,792.08,788.269,796.039,788.269,796.039z"></path>
						</svg>
					</div>
					<div class="tube2 outlined-icon">
						<svg enable-background="new 0 0 1000 1000" version="1.1" viewBox="0 0 1000 1000" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
						  <path d="m962.85944,463.1662c-6.43201,9.13409 -14.12366,17.11819 -22.8587,23.67657c-35.13812,26.41833 -84.55408,29.02667 -139.15607,7.36755c-54.09497,-21.47629 -106.9342,-64.29257 -148.77448,-120.57239c-74.67712,-100.40128 -95.5,-220.67825 -49.48969,-286.02998c4.84906,-6.88147 10.45074,-13.14445 16.61743,-18.59429c2.0202,-1.76656 4.09344,-3.47186 6.24921,-5.09318c35.13904,-26.4193 84.54816,-29.03159 139.14819,-7.35077c54.09497,21.47038 106.93427,64.28664 148.78137,120.55561c74.67706,100.40622 95.495,220.68912 49.48273,286.04086zm-355.2049,-371.94312c-44.4873,63.18401 -23.71454,180.39127 49.39044,278.68018c41.16229,55.34912 93.0415,97.43625 146.08221,118.48276c52.51404,20.84595 99.81842,18.52219 133.14655,-6.54755c8.22913,-6.17993 15.45209,-13.67401 21.51361,-22.28842c44.48633,-63.18402 23.71753,-180.3913 -49.38745,-278.68016c-41.16522,-55.34914 -93.04352,-97.43626 -146.08221,-118.48277c-52.51703,-20.84596 -99.8125,-18.53402 -133.13965,6.53072c-2.03302,1.52647 -3.99127,3.14285 -5.87292,4.79282c-5.81293,5.13171 -11.07764,11.01628 -15.65057,17.51242z"></path>
						  <path d="m934.66229,490.4075c-23.43158,17.71399 -557.61646,422.87192 -588.12067,439.27774c-32.79755,17.63788 -52.69089,20.55151 -132.08536,-19.20587c-89.44235,-44.80811 -191.1365,-156.3017 -199.98759,-250.88062c-8.39124,-89.7525 28.97139,-149.55359 48.4029,-164.44879l556.49634,-426.27066l3.77216,4.96967l-556.49931,426.27853c-17.79453,13.64044 -54.05863,72.60956 -45.97887,158.89032c8.6418,92.49615 108.63314,201.80042 196.57705,245.87238c80.43898,40.27905 97.75499,34.66522 126.37657,19.27997c30.08075,-16.17072 581.58066,-434.42664 587.30911,-438.75012l3.73767,4.98746z"></path>
						</svg>
					</div>
					<div class="circle1 outlined-icon">
						<svg enable-background="new 0 0 1000 1000" version="1.1" viewBox="0 0 1000 1000" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
						  <path d="m992.33679,500.8558c0,272.16629 -220.11261,492.79959 -491.63678,492.79959c-271.52426,0 -491.63787,-220.6333 -491.63787,-492.79959s220.11361,-492.79964 491.63888,-492.79964c271.52322,0 491.63577,220.63419 491.63577,492.79964zm-491.63577,-482.9444c-266.0986,0 -481.8059,216.21844 -481.8059,482.94541c0,266.72192 215.70826,482.94037 481.8059,482.94037c266.09256,0 481.80484,-216.21844 481.80484,-482.94037c-0.00104,-266.72795 -215.71228,-482.94541 -481.80484,-482.94541z"></path>
						</svg>
					</div>
				</div>
				<div class="floating-icons slds-large-show"></div>
				<div class="herotext | slds-text-heading--large">
					Salesforce Lightning<br>Design System
					<br>
					<span class="slds-text-heading--large">for JavaScript<span>
				</div>
			</div>
		</div>
	</div>
	<div class="section2 | slds-p-vertical--large">
		<div class="slds-container--center slds-container--medium">
			<h2 class="slds-text-heading--large">
				SLDS for {{facadeDisplayName}}
			</h2>
			<p class="slds-text-heading--small | slds-m-top--small slds-m-bottom--large">
				Create the world&rsquo;s best enterprise app experiences.
			</p>

			{{!-- <h4 class="slds-text-heading--medium facades-demo-desc">A whole new way to build apps using Lightning Design System with jQuery or React.</h4> --}}

			<p class="slds-m-bottom--x-small">SLDS for React is the React.js implementation of the <a href="http://www.lightningdesignsystem.com/">Lightning Design System</a>.</p>
			<p class="slds-m-bottom--x-small">Each SLDS for React component is a specific variant of a component from Lightning Design System.</p>
			<p class="slds-m-bottom--x-small">For example, <a href="/react/dropdown"><code>Dropdown</code></a> represents <a href="http://www.lightningdesignsystem.com/components/menus/#dropdown">Lightning Design System Menu > Dropdown</a>, and <a href="/react/lookup"><code>Lookup</code></a> represents <a href="http://www.lightningdesignsystem.com/components/lookups/#base">Lightning Design System Lookup > Base</a>.</p>

			{{> components-cards}}

		</div>
	</div>
	<div class="section3 | slds-p-bottom--large ">
		<div class="slds-container--center slds-container--medium">
			<h2 class="slds-text-heading--medium | slds-m-top--large">SLDS for {{ otherFacadeDisplayName}}</h2>
			<p class="slds-m-bottom--x-small">An implementation of the Lightning Design System is also available for jQuery.</p>
			<p class="slds-m-bottom--x-small">This version is targeted largely at those who need to adopt SLDS in an existing app where jQuery is already being used but are not ready to move to React, as well as those those who are transitioning away from Fuel UX.</p>
			<p class="slds-m-bottom--x-small">All of the components available for jQuery offer the same look and feel and meet the same accessibility standards as the React components.</p>
			<p class="facades-demo-framework-description">These plugins are available on the <code>$.fn</code> namespace.</p>
			<div class="slds-m-top--medium"><a href="jquery" class="slds-button slds-button--brand">Examples</a></div>
		</div>
	</div>
</div>

</body>
</html>
