.slds-combobox {
    .slds-picklist__label {
        padding-left: 0;
    }

    button {
        .slds-icon {
            right: .7rem;
        }

        .slds-input {
            border: none;
            border-right: 1px solid #d8dde6;
            border-radius: .25rem 0 0 .25rem;
        }
    }
}