@import "~@salesforce-ux/design-system/scss/dependencies/root.scss";

@mixin root($root: html, $body: body) {
  #{$root} {
    font-size: 100%;
    line-height: $line-height-text;
    font-family: $font-family;
    background: $color-background-alt;
    color: $color-text-default;
    -webkit: {
      tap-highlight-color: rgba(0, 0, 0, 0);
    }
  }

  #{$body} {
    font-size: $font-size-medium;
    background: transparent;
  }
}
