@import "~index";
@import "~@salesforce-ux/design-system/scss/design-tokens.scss";
@import "~@salesforce-ux/design-system/scss/components/trees/flavors/base/index.scss";



.#{$css-prefix}tree {

  &__item {

    a,
    a:link,
    a:visited {
      color: $color-text-default;
    }

  }

  // Depth 1
  &__group > &__item > a,
  &__group > &__item > &__item-label {
    display: inline-block;
    padding-left: ($spacing-medium + $spacing-x-small); // width of button + gutter
  }
  // Depth 2
  .#{$css-prefix}nested &__branch > &__item,
  .#{$css-prefix}nested &__branch > &__item-label {
    padding-left: (($spacing-medium * 2) + $spacing-x-small);
  }
  // Depth 3
  .#{$css-prefix}nested .#{$css-prefix}nested &__item {
    padding-left: (($spacing-medium * 3) + ($spacing-x-small * 2));
  }
  // Depth 4
  .#{$css-prefix}nested .#{$css-prefix}nested .#{$css-prefix}nested &__item {
    padding-left: (($spacing-medium * 4) + ($spacing-x-small * 3));
  }

  .#{$css-prefix}is-open .#{$css-prefix}button__icon {
    transform: none;
  }
  

  .#{$css-prefix}is-open > .#{$css-prefix}tree__item > .#{$css-prefix}button > .#{$css-prefix}button__icon {
    transform: rotate(90deg);
  }

}