@import "./prism.scss";
/*
@import "./../salesforce-lightning-design-system-v0.8.0/scss/index.scss";
*/

html,body {
  height: inherit;
}

/*
.header {
  box-shadow: $shadow-header;
  z-index: 1;
}

.stage-left {
  width: 4rem;
  transition: width .2s ease-in-out .05s;

  @include mq-large-min {
    &.open {
      width: 15rem;
      transition: width .1s ease-in-out;

      .stage-left__text {
        opacity: 1;
        width: auto;
        transition-delay: .2s;
      }
    }
  }

  li + li {
    margin-top: $spacing-small;
  }

  a:not(.button) {
    display: block;
    text-decoration: none;
    white-space: nowrap;

    border-radius: $border-radius-medium;
    background: transparent;
    padding: $spacing-xx-small;
    transition: background .05s linear;

    &:hover,
    &:focus {
      background: $color-background-inverse;
    }

    &:active {
      box-shadow: $elevation-shadow-3-below, $shadow-button-focus;
    }
  }

  .stage-left__text {
    opacity: 0;
    width: 0;
    transition: all .05s linear;
  }
}

.stage-container {
  max-height: 100%;
  overflow: hidden;
}

.slds-grid--frame {
  min-width: 767px;
  overflow-y: auto;
}

.js-nav-toggle {
  cursor: pointer;
}
*/
.drop.drop-out-of-bounds-top{
  display:none;
}

.drop-element-attached-bottom .SLDSPopover{
  align-self: flex-end;
}
