aside a {
	display: block;
}


#component-list {
	margin-bottom: 30px;
}

.component-wrapper {
	.header {
		border-bottom: none;
	}
}

.component .body {
	border: none;

	.example-type {
		border-left: none;

		&:first-child {
			border-left: none;
		}
	}

	.example-wrapper {
		padding: 0;

		.example {
			// padding: 10px 0;

		}

		.type {
			margin-top: -5px;
		}
	}
}
