.slds-tabs_default .slds-tabs_default__item.slds-disabled,
.slds-tabs_scoped .slds-tabs_scoped__item.slds-disabled {
  opacity: 0.5;
}
.slds-tabs_default .slds-tabs_default__item.slds-disabled > a:hover,
.slds-tabs_scoped .slds-tabs_scoped__item.slds-disabled > a:hover,
.slds-tabs_default .slds-tabs_default__item.slds-disabled > a.slds-tabs_default__link:focus,
.slds-tabs_scoped .slds-tabs_scoped__item.slds-disabled > a.slds-tabs_scoped__link:focus {
  cursor: not-allowed;
  text-decoration: none;
  border-color: transparent;
  color: inherit;
}
.slds-tabs_default .slds-tabs_default__item.slds-disabled.slds-active a.slds-tabs_default__link,
.slds-tabs_scoped .slds-tabs_scoped__item.slds-disabled.slds-active a.slds-tabs_scoped__link {
  cursor: not-allowed;
  border-color: transparent;
  color: inherit;
}
.slds-tabs_default .slds-tabs_default__item.slds-disabled.slds-active a.slds-tabs_default__link:focus,
.slds-tabs_scoped .slds-tabs_scoped__item.slds-disabled.slds-active a.slds-tabs_scoped__link:focus {
  cursor: not-allowed;
  color: inherit;
}

.slds-tabs_default__item.slds-disabled:focus:after,
.slds-tabs_default__item.slds-disabled.slds-has-focus:after,
.slds-tabs_scoped__item.slds-disabled:focus:after,
.slds-tabs_scoped__item.slds-disabled.slds-has-focus:after {
	height: 0.125rem;
	background-color: #007add;
	transition: height 300ms;
}
