/*
 * Global Demo Styles
 */
html {
  line-height: 1.71429;
  color: #5876A3;
}

.site-page-header {

}
.site-logo {
  display: inline-block;
  background-position: center center;
  background-size: 100%;
  width: 3.9375rem;
  height: 2.75rem;
  text-indent: -9999em;
  background: url('https://www.lightningdesignsystem.com/assets/images/logo.svg') no-repeat;
}

/*
 * Demo Documentation styles
 */
.demo-only .mw-col-m { max-width: 150px; }
.demo-only .mw-col-l { max-width: 300px; }
.demo-only button {
  background: white;
  border: none;
}
.demo-only .bg-lt-gray { background: rgb(244, 246, 249); }
.demo-only .bb-gray { border-bottom: 1px solid	rgb(216, 221, 230); }


/* Typography */
.copy-text p { font-size: .95rem; }
.site-text--bold { font-weight: 700; }
.site-text--xl { font-size: 3rem !important; }
.site-text--center { text-align: center !important; }

.a-plain { color: inherit !important; }
.a-plain:hover, .a-plain:focus, .a-plain.active {
  text-decoration: none !important;
  background-color: #f6f6f6;
}
code {
  color: black;
  background-color: #f6f6f6;
  border-radius: 4px;
}
aside a {
  display: block;
}


/* Property Table */
.demo-only .slds .slds-table th, .slds .slds-table td { white-space: inherit; }
.demo-only .site-text-heading--label th {
  text-transform: uppercase;
  font-size: 1.1em;
}

/*
 * Demo Component Specific Styles
 */
.demo-only .slds-notify-container { position: fixed !important; }
.demo-only .slds-icon__container { margin-right: 20px; }



/*
 * Animations
 */
.slds .slds-theme--alert-texture-animated {
  background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.035) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.035) 50%, rgba(0, 0, 0, 0.035) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.035) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.035) 50%, rgba(0, 0, 0, 0.035) 75%, transparent 75%, transparent);
  background-size: 64px 64px;
  animation: progress-bar-stripes 2.4s 4 linear;
}

@keyframes progress-bar-stripes{
  0% { background-position:0 64px; }
  100% { background-position:0 0; }
}


/*
 * Codemirror - live editor styles
 */
.CodeMirror-code pre {
  overflow: inherit;
}

